* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

#app {
  font-family: "Courier New", monospace;
  background-color: black;
  height: 100vh;
  width: 100vw;
}

.terminal-container {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  display: grid;
  grid-template-rows: 70% 30%;
}

.tabbed-terminals {
  display: grid;
  grid-template-rows: 10% 90%;
}

#input {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.97);
  color: white;
  outline: none;
  padding: 10px;
}

.tabs {
  display: flex;
  background-color: #333;
}

.tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px;
  margin-bottom: 0px;
  padding: 10px 20px;
  color: #fff;
  outline: none;
  cursor: pointer;
  border: 1px solid rgb(32, 30, 30);
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.opening {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInTab 0.5s ease forwards;
}

@keyframes fadeInTab {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.tab.active {
  background-color: rgba(0, 0, 0, 0.97);
  color: #fff;
}

.close-tab {
  cursor: pointer;
  margin-left: 40px;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
}

.open-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  margin: 8px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 4px;
  padding-right: 18px;
  border-right: 1px solid rgb(69, 67, 67);
}

.terminal {
  display: none;
  background-color: rgba(0, 0, 0, 0.97);
  width: 100%;
  height: 100%;
  color: white;
  padding: 10px;
}

.terminal.active {
  display: block;
}
